body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 30px;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 10;
}

